@import "../../scss/base/variables";

.category {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;

    &__category-title {
        align-self: flex-start;
    }

    &__subcategory-title {
        align-self: flex-start;
        margin-bottom: 24px;
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        height: 100%;
    }

    &__data-item {
        position: relative;
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }
}
