@import "../../scss/base/variables";

.label-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;

    &__label-icon-wrapper {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__label {
        font-weight: 500;
    }

    &__input {
        box-shadow: $box-shadow-picklist;
        border-radius: 8px;
        width: 100%;
        border: none;
        padding: 8px 12px;
        height: 100%;
        margin: 2px 0;

        &:disabled {
            background-color: $color-accent-3;
            cursor: not-allowed;

            &::placeholder {
                color: $color-text-disabled;
            }
        }

        &:focus {
            outline: 1px solid $color-primary;
        }
    }

    &__icon {
        position: absolute;
        right: 8px;
    }
}
