@import "../../scss/base/mixins";
@import "../../scss/base/variables";

.create-sub-category {
    @include page-layout;

    &__title {
        text-align: left;
    }

    &__form {
        box-shadow: $box-shadow-button;
        background-color: $form-background;
        padding: 48px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        max-width: 480px;

        @include media-query-tablet-and-down {
            padding: 36px 24px;
        }
    }

    @media (max-width: 1400px) {
        padding: 36px 24px;
    }
}
